{% extends "Wanderlust/base.html" %}

{% block content %}
<center><div class="card">
  <div class="card mb-3">
    <img src="img/dubai.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Dubai</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
  <div class="card mb-3">
    <img src="img/paris.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Dubai</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
  <div class="card mb-3">
    <img src="img/lasvegas.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Dubai</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
  <div class="container"></div>
  
    
  </div> </center>

{% endblock %}
