<center><div class="card mt-2">
    <div class="card mb-3">
      <img src="{{post.banner.url}}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title"><a href="{% url 'post-detail' post.pk %}"><h4>{{ post }}</h4></a></h5>
        <p class="card-text">{{ post.description }}</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        <b>Author:</b> {{ post.author }}</a>
      </div>
      </div>
      </div>
</center>
        